<body>
 <!-- <app-my-first-component></app-my-first-component> -->
 <!-- <p>Component with id {{componentId}} is {{getComponentStatus()}}</p> -->
 <label>Component name</label>
 <input
 type="text"
 class="form-control"
 (input)="onUpdateComponentName($event)"
 >
 <input
 type="text"
 class="form-control"
 [(ngModel)]="inputValue"
 >
 <p>{{inputValue}}</p>
<button 
class="btn btn-primary" 
[disabled]="!allowNewComponent"
(click)="eventBinding($event)"
>
Click
</button>
<p>{{componentStatus}}</p>
<!-- <p [innerText]="allowNewComponent"></p> -->
</body>