<body>
    <h1>App component !</h1>
 <label>Component name</label>
 
 <input
 type="text"
 class="form-control"
 >
<button 
class="btn btn-primary" 
[disabled]="!allowNewComponent"
(click)="eventBinding($event)"
>
Click
</button>
<p *ngIf='componentCreated; else noComponent'>Component is called and Component name is {{componentStatus}}</p>
<ng-template #noComponent>
    <p>No component was created !</p>
</ng-template>
<!-- <p [innerText]="allowNewComponent"></p> -->
<app-my-first-component></app-my-first-component>
</body>